# env / keys
.env
jwt_private.pem
jwt_public.pem

# node
node_modules/
apps/*/node_modules/
pnpm-lock.yaml

# build / cache
dist/
build/
.next/
.turbo/
out/
coverage/

# editor
.DS_Store
*.log

# misc
*.zip
*.tar
*.tar.gz
# env files
apps/server/.env
apps/server/.env.local
apps/server/.env.prod
tango-web/.env*
node_modules/
.env
tango-web/.env
apps/server/.env
tango-web/.env.local
**/.DS_Store
pgdata/
dist/
