# env / keys
.env
jwt_private.pem
jwt_public.pem

# node
node_modules/
apps/*/node_modules/
pnpm-lock.yaml

# build / cache
dist/
build/
.next/
.turbo/
out/
coverage/

# editor
.DS_Store
*.log

# misc
*.zip
*.tar
*.tar.gz
